<h1>Current Player: {{ player }}</h1>

<button  nbButton outline status="danger" (click)="newGame()">Start New Game</button>

<!-- conditional templating only will run if the value "winner"  evalautes to True "ngIf" -> part of angular tools -->
<h2 *ngIf="winner"> 
  Player {{ winner }} won the game!
</h2>


<main>
  <!-- i and val are template varaiable only used here part of angular syntax -->
  <app-sqaure
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)="makeMove(i)">

  </app-sqaure>
</main>
